{%extends "templates/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
var main = function() {

      $('#link5').addClass('current_link');
}
$(document).ready(main);

</script>
	<div class="about">
		<h2>Joel Baird</h2>
		<p>Joel has been doing both landscaping and interior design since 2008. He works out of Mt. Clemens and mainly does work on the east side of Michigan. He has a passion for design and heads the entire process from beginning to end. Joel has worked with Loretta Crenshaw on a Detroit Showhouse room each of the past 3 years receiving much praise from the community for each of those projects. Recently, he has began to create numerous events including weddings, graduation parties and dinners. He currently works for Krauseneck Carpets in Grosse Pointe Farms and Mt. Clemens. If you like what you've seen feel free to give Joel a call or fill out the information below and set up an appointment! </p>

		<form action="MAILTO:cjbaird@umich.edu" method="POST">
			<label>Name: <input type="text" name="name" id="name"/></label>
			<label>Email: <input type="email"name="email" id="email"/></label>
			<label>Message: <input type='text' name='message' id="message"/></label>
			<p><input type="submit" id="submit" value="Submit"></p>
			<p><input type="reset" id="reset" value="Reset"></p>
		</form>

		<div id="map" alt="Our office is located South of Cass Ave. West of Gratiot East of Groesbeck and just North of the Clinton River."></div>
			<script>
				function initMap() {
					var myLatLng = {lat: 42.590327, lng: -82.887875};
					var map = new google.maps.Map(document.getElementById('map'), {center: myLatLng, zoom: 13});

					var marker = new google.maps.Marker({
						position: myLatLng, 
						map: map, 
						title: 'Hello World!'
					});
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

{% endblock %}