{%extends "templates/base.html" %}

{% block content %}
<style type="text/css">
#link4:visited {color:#B439C1;text-decoration:none;} 
</style>
	<div class="bnf">
		<p id="bedroom">This relaxing bedroom was fully redone with a classic and warm design to create a softer and larger feel to the whole room. Here are some before and after pictures of the redesign.</p>
		<div class="Before">
			<p>Before</p>
			<img id="BeforeRightCorner" src="static/Christmas2012071.JPG" alt="Front Right Corner Before Photo">
		</div>
		<div class="After">
			<p>After</p>
			<img id="AfterRightCorner" src="static/Christmas201265.JPG" alt="Front Right Corner After Photo">
		</div>
		<div class="Before special-float-r">
			<p id="bef">Before</p>
			<img id="BeforeRightWall" src="static/Christmas2012074.JPG" alt="Front Right Full Wall Before Photo">
		</div>
		<div class="After special-float-l">
			<p id="aft">After</p>
			<img id="AfterRightWall" src="static/Christmas2012145.JPG" alt="Front Right Full Wall After Photo">
			<img id="AfterRightHead" src="static/Christmas2012141.JPG" alt="Front Right Head on After Photo">
		</div>
		<div class="Before">
			<p id='before'>Before</p>
			<img id="BeforeLeftCorner" src="static/Christmas2012076.JPG" alt="Back Left Corner Before Photo">
		</div>
		<div class="After">
			<p id="after">After</p>
			<img id="AfterLeftCorner" src="static/Christmas2012146.JPG" alt="Back Left Corner After Photo">
		</div>
		<div class="Before">
			<p id="BEFORE">Before</p>
			<img id="BeforeBackWall" src="static/Christmas2012072.JPG" alt="Back Wall Before Photo">
		</div>
		<div class="After">
			<p id="AFTER">After</p>
			<img id="AfterBackWall" src="static/Christmas2012140.JPG" alt="Back Wall After Photo">
		</div>
			<div class="Before">
				<p>Before</p>
				<img id="BeforeLeftWall" src="static/Christmas2012073.JPG" alt="Left Wall Full Before Photo">
			</div>
			<div class="After">
				<p id="afterwall">After</p>
				<img id="AfterLeftWall" src="static/Christmas2012149.JPG" alt="Left Wall Full After Photo">
			</div>
			<div id="break">.</div>
			<p id="livingroom">This family room got new furniture and a paint job that created a more modern, homey envirnoment. Here are some before and after images of this project.</p>
		<div class="Before special-float-l">
			<p id="beforefam">Before</p>
			<img id="BeforeFamilyBack" src="static/2013-08-1715.39.28.jpg" alt="Family Room Back Before Photo">
			<img id="BeforeFamilyFront" src="static/2013-08-1715.38.07.jpg" alt="Family Room Front Before Photo">
		</div>
		<div class="After special-float-r">
			<p id="afterfam">After</p>
			<img id="AfterFamily" src="static/split.jpg" alt="Family Room After Photo">
		</div>
		<div>.</div>
	</div>
{% endblock %}