{%extends "templates/base.html" %}

{% block content %}
<style type="text/css">
#link3:visited {color:#B439C1;text-decoration:none;} 
</style>
	<div id="design">
		<p>This cozy and rustic library was completely redesigned. It was given all new furniture, paint, and paintings.</p>
		<div>
			<img src="static/IMG_20160106_200003967.jpg" alt="">
		</div>
		<div>
			<img src="static/IMG_20160106_195854830.jpg" alt="">
		</div>
		<div>
			<img src="static/Library.jpg" alt="">
		</div>
		<p>A beautifully done sunroom, front, and backyard.</p>
		<div>
			<img src="static/outside.jpg" alt="">
		</div>
		<div>
			<img src="static/frontyard.jpg" alt="">
		</div>
	</div>
{% endblock %}