{%extends "templates/base.html" %}

{% block content %}
<style type="text/css">
#link3:visited {color:#B439C1;text-decoration:none;} 
</style>
	<div class="design">
		<p id="study" >This cozy and rustic library was completely redesigned. It was given all new furniture, paint, and paintings.</p>
		<div id="corner">
			<img src="static/IMG_20160106_200003967.jpg" alt="">
		</div>
		<div id="full">
			<img src="static/IMG_20160106_195854830.jpg" alt="">
		</div>
		<div id="wall">
			<img src="static/Library.jpg" alt="">
		</div>
		<p id="outside" >A beautifully done sunroom, front, and backyard.</p>
		<div id="sunroom">
			<img src="static/outside.jpg" alt="">
		</div>
		<div id="front">
			<img src="static/frontyard.jpg" alt="">
		</div>
		<div id="space">
			<p></p>
		</div>
	</div>
{% endblock %}