{%extends "templates/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
var main = function() {

      $('#link2').addClass('current_link');
}
$(document).ready(main);

</script>
<p id="videocaption">
	&nbsp; &nbsp; &nbsp;&nbsp;This wedding was designed and put on by Thistle Design Group from beginning to end. More pictures at the bottom of the page.</p>
<iframe id="video" src="https://www.youtube.com/embed/VtDhh3emVAU" allowfullscreen></iframe>

	<div class="events">
		<p id="dinner" >Elegant backyard dinner party celebrationg a dear friends birthday. Beautiful, historic residence in Detroit. Grilled salmon, shrimp salad as well as an amazing cocktail station.</p>
		<div>
			<img id="tableplaces" src="static/IMG_0363.JPG" alt="Set Tableplaces Photo">
		</div>
		<div>
			<img id="backyard" src="static/IMG_0368.JPG" alt="Backyard Table Photo">
		</div>
		<p id="graduation" >A spring graduation party that was done with a golfing theme included these beautiful centerpieces, delicious dinner and desserts, and a fun water hazard at the entrance to the event.</p>
		<div>
			<img id="dessert" src="static/golf.jpg" alt="Graduation Dessert Table Centerpiece Photo">
		</div>
		<div>
			<img id="centerpiece" src="static/centerpiece.jpg" alt="Graduation Golf Centerpiece Photo">
		</div>
		<div>
			<img id="cart" src="static/golfcart.jpg" alt="Golf Cart Photo">
		</div>
		<p id="wedding" >This May 2015 wedding was held at the Royal Park Hotel in Royal Oak, Mi.</p>
		<div>
			<img id="pictures" src="static/pictures.jpeg" alt="Table of Wedding Pictures Photo">
		</div>
		<div>
			<img id="boquet" src="static/flowers.jpeg" alt="Wedding Boquet Photo">
		</div>
		<div>
			<img id="weddingtable" src="static/candles.jpeg" alt="Set Wedding Table Photo">
		</div>
		<div>
			<img id="butterfly" src="static/ceiling.jpeg" alt="Butterfly's from Ceiling Photo">
		</div>
		<div>
			<img id="hall" src="static/wedding.jpeg" alt="Wedding Hall Photo">
		</div>
		<div>
			<img id="dinnertable" src="static/759a66_ca15e4b9a83e43efb49cc4b83d22c3ff.jpg" alt="Wedding Table Photo">
		</div>
	</div>

{% endblock %}