{%extends "templates/base.html" %}

{% block content %}
<style type="text/css">
#link2:visited {color:#B439C1;text-decoration:none;} 
</style>
<iframe id="video" src="https://www.youtube.com/embed/VtDhh3emVAU" frameborder="0" allowfullscreen></iframe>
	<div id="events">
		<p>Elegant backyard dinner party celebrationg a dear friends birthday. Beautiful, historic residence in Detroit. Grilled salmon, shrimp salad as well as an amazing cocktail station.</p>
		<div>
			<img src="static/IMG_0363.JPG" alt="Set Tableplaces Photo">
		</div>
		<div>
			<img src="static/IMG_0368.JPG" alt="Backyard Table Photo">
		</div>
		<p>A spring graduation party that was done with a golfing theme included these beautiful centerpieces, delicious dinner and desserts, and a fun water hazard at the entrance to the event.</p>
		<div>
			<img id="portrait" src="static/golf.jpg" alt="Graduation Dessert Table Centerpiece Photo">
		</div>
		<div>
			<img id="portrait" src="static/centerpiece.jpg" alt="Graduation Golf Centerpiece Photo">
		</div>
		<div>
			<img id="portrait" src="static/golfcart.jpg" alt="Golf Cart Photo">
		</div>
		<p>This May 2015 wedding was held at the Royal Park Hotel in Royal Oak, Mi.</p>
		<div>
			<img id="portrait" src="static/pictures.jpeg" alt="Table of Wedding Pitctures Photo">
		</div>
		<div>
			<img id="portrait" src="static/flowers.jpeg" alt="Wedding Boquet Photo">
		</div>
		<div>
			<img id="portrait" src="static/candles.jpeg" alt="Set Wedding Table Photo">
		</div>
		<div>
			<img src="static/ceiling.jpeg" alt="Butterfly's from Ceiling Photo">
		</div>
		<div>
			<img src="static/wedding.jpeg" alt="Wedding Hall Photo">
		</div>
		<div>
		<img src="static/759a66_ca15e4b9a83e43efb49cc4b83d22c3ff.jpg" alt="Wedding Table Photo">
		</div>
	</div>

{% endblock %}